* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding-top: 30vh;
}


.input-wrapper {
  position: relative;
}

#search-bar-input {
  border: 1px solid gray;
  border-radius: 6px;
  padding: 10px 16px;
  padding-right: 40px;
  min-width: 450px;
  flex: 1;
}

#search-bar-input:focus {
  outline: none;
}

#search-bar-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: gray;
}

#suggestion-list {
  margin-top: 20px;
  border-radius: 6px;
  list-style-type: none;
  border: 1px solid gray;
  visibility: hidden;
}

#suggestion-list.visible {
  visibility: visible;
}

#suggestion-list li {
  min-width: 450px;
  padding: 10px 16px;
  padding-right: 40px;
  cursor: pointer;
}

#suggestion-list li:hover {
  background-color: #f0f0f0;
}

#query-information {
  width: 100%;
  margin-bottom: 40px;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  visibility: hidden;
  height: 80px;
}

/* Adding "visible" class will make the query information visible. */
#query-information.visible {
  visibility: visible;
}
